/*Protect*/
.ig-protect {
    border: 1px solid #dedede;
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%,#f5f5f5 100%);
    padding:1em;
    margin:1em 0;
    display:block;
    width:100%;
    .genericon-key{
        font-size: 16px;
        line-height: 1;
        padding:2px;
        border:1px solid #F7CA18;
        background:#F5D76E;
        margin-right: 8px;
        color:#fefff4;
        margin-right: 8px;
    }
 }